h2 Dodaj tutaj nowy hub!
 //   | #{user.username}
//.$scope.value='251'
label(for='hubid') Identyfikator
input(ng-model='form.hubid', name='hubid')
//
label(for='userid') Uzytkownik
input(ng-model='form.userid', name='userid')
//input(type='hidden', ng-model='form.usersid', value=251 ng-init='form.usersid=351')
//input(type='text', name='userid', ng-value='351', ng-model="form.userid", style='display: none;')
//
//input(type='hidden', ng-model='form.userid',name='351')
p Opis
textarea(ng-model='form.desc', cols=10, rows='5')
p
    button(ng-click='submitHub()') Zapisz hub