extends layout

block content
    #myContent
        .col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-sign-in
                |  O nas

            
            p
                |Jakieś info tralala
                br
                | napisz tu coś