extends layout

block content
    #myContent
        .col-sm-6.col-sm-offset-3
            h1
                |  O nas
            p.h4
                | <strong>Damian, Kornel i Sylwek</strong> - studenci Informatyki na wydziale EEIA Politechniki Łódzkiej.
            
            br
            p.h4
                | Serwis ten został utworzony na potrzeby projektu kompetencyjnego w semestrze zimowym 2015/2016.
            br
            p.h4.
                Tematem projektu jest <strong> system bezprzewodowych czujników</strong> do użytku domowego. Czujniki te
                korzystając z łączności bezprzewodowej Bluetooth przesyłają do naszego serwisu pomiary
                temperatury, wilgotności.