extends layout

block content
    #myContent
        .col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-sign-in
                |  Kontakt

            
            h3
                |Kornel:
            p
                | namiary kornela
            h3
                |Damian:
            p
                | namiary kornela
            h3
                |Sylwek:
            p
                | namiary kornela