extends layout

block content
    #myContent
        .col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-phone-square
                |  Kontakt
                
            h3
                |Nadrowski Sylwester:
            p.h4
                | 187770@edu.p.lodz.pl
            h3
                |Stępnik Damian:
            p.h4
                | 187806@edu.p.lodz.pl
            h3
                |Stępnik Kornel:
            p.h4
                | 187807@edu.p.lodz.pl