extends layout

block content
    #myContent
        #editHub
            fieldset
                // //form(id="addHubForm")
                //.form-group
                br
                label(for='hubid') Opis:
                input.form-control#inpuDescEditHub(type='text', required)
                input.form-control#inputUserID(type='hidden', value=user.userID)
                br
                button.btn.btn-default#editHubButton Edytuj
                
        a.btn.btn-info(data-toggle='collapse', data-target='#sensorForm') Dodaj Sensor
        #sensorForm.collapse
            br
            #addSensor
                fieldset
                    input(type='checkbox' name='state' id="stateCheckBox")
                    | Wlaczony
                    br
                    label(for='sensorid') Sensor ID:
                    input.form-control#inputSensorID(type='text', required)
                    //.form-group
                    label(for='desc') Opis:
                    input.form-control#inputDesc(type='text')
                    //.form-group
                    input.form-control#inputHubID(type='hidden', value=hub)
                    br
                    button.btn.btn-default#addSensorButton Dodaj
    script(src='/js/editHub.js')


