#editSensor
    fieldset
        // //form(id="addHubForm")
        //.form-group
        input(type='checkbox' name='favSensor' id="favCheckBox")
        | Ulubiony
        input(type='checkbox' name='stateSensor' id="stateCheckBox")
        | Włączony
        br
        label(for='hubid') Opis:
        input.form-control#inpuDescEditSens(type='text', required)
        input.form-control#inputUserID(type='hidden', value=user.userID)
        br
        button.btn.btn-default#editSensorButton Dodaj
script(src='/js/editSensor.js')    
