
button(type="button" class="btn btn-default" id="returnButton") Wróć
br
#chart
    <canvas id="myChart" width="700" height="400"></canvas>



script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
script(src='/js/favouriteSensor.js')

