extends layout

block content
    #myLogoWrapper
        #myBigLogo
            a(href="login")
                img(style=":hover {transform: translateY(10px);}" src="./images/drawing.svg" height="200" width="200" alt="gdzie jest logo?")