extends layout

block content
    #myLogoWrapper
        #myBigLogo
            img(src="./images/drawing.svg" height="200" width="200" alt="gdzie jest logo?")
    // .jumbotron.text-center
    //   h2 Witaj! Zaloguj się lub zarejestruj
    //   p 
    //   p
    //   span 
    //      a.btn.btn-primary(href='/signup').
    //         Zarejestruj  
    //   span     
    //       a.btn.btn-primary(href='/login').
    //          Zaloguj
    