extends layout

block content
    .jumbotron.text-center
      h2 Witaj! Zaloguj się lub zarejestruj
      p 
      p
      span 
         a.btn.btn-primary(href='/signup').
            Zarejestruj  
      span     
          a.btn.btn-primary(href='/login').
             Zaloguj
