doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title sensIT
    //
    // bootstrap, style i inne motyle
    link(href="/bootstrap/bootstrap.css" rel="stylesheet", type='text/css')
    link(href='/stylesheets/styles.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')


    // 
    // script(src="bootstrap/jquery-1.11.2.min.js" type="text/javascript")
    
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
    script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js')
    script(src='https://npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js')
    // nie ruszac
    
    // nie wiem co to:
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // script(src="/js/jquery-1.11.2.min.js", type='text/javascript')
    // <script src="js/bootstrap.js"></script>
    
    // bezuzyteczny skrypt
    // script(src='/js/contentScript.js', type='text/javascript')
    script(src='/js/carousel.js', type='text/javascript')
    script(src='/js/global.js')
    
    

  body(style='background-color:rgba(0,0,160,0.5);')
    #myCarousel.carousel.container.slide(data-pause='false')
      // Carousel items
      .carousel-inner
        .active.item.one
          .carousel-caption
            h3 Nie wiesz jak podlewać kwiatki?
            p Zostaw to nam
        .item.two
          .carousel-caption
            h3 Zapomniałeś zakręcić gaz przez wyjazdem?
            p Przypał...
        .item.three
          .carousel-caption
            h3 Lubisz wykresiki?
            p Dobrze trafiłeś!
    #wrapper.container-fluid
      nav#myNavi.navbar.navbar-default
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed.navbar-fixed-top(type='button', data-toggle='collapse', data-target='#defaultNavbar1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            p
              a#myBrand.navbar-brand(href='/') senseIT 
          // Collect the nav links, forms, and other content for toggling
          #defaultNavbar1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a#myAbout(href='/about') O nas
              li
                a#myContact(href='/contact') Kontakt
              li
                if title === "Home"
                    a#myLogin(href='/signout') Wyloguj
                else
                    a#myLogin(href='/login') Zaloguj
                    
          // /.navbar-collapse
        // /.container-fluid
      block content
        
      
      
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    // problem z umieszczeniem <script> w head a body
    // <script src="js/jquery-1.11.2.min.js"></script>
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/bootstrap/bootstrap.js')
