doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title sensIT

    link(href="/bootstrap/bootstrap.css", rel="stylesheet", type='text/css')
    link(href='/stylesheets/styles.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='/Pikaday-master/css/pikaday.css', rel='stylesheet', type='text/css')
    link(rel="shortcut icon" href='images/sensitFav.ico')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
    script(src='http://momentjs.com/downloads/moment.min.js')
    script(src='/Pikaday-master/pikaday.js')
    script(src='/Pikaday-master/plugins/pikaday.jquery.js')
    script(src='/js/carousel.js', type='text/javascript')


  body
  
    include mycarousel.jade 
       
    #wrapper.container-fluid
    include navbar.jade
    block content

    script(src='/bootstrap/bootstrap.js')

