if title === "sensIT"  
    #myCarousel.carousel.container.slide(data-pause='false')
        .carousel-inner
            .active.item.one
                .carousel-caption
                    h3 Nie wiesz jak podlewać kwiatki?
                    p Zostaw to nam
            .item.two
                .carousel-caption
                    h3 Zapomniałeś zakręcić gaz przez wyjazdem?
                    p Przypał...
            .item.three
                .carousel-caption
                    h3 Lubisz wykresiki?
                    p Dobrze trafiłeś!
                
else
    #myCarousel.carousel.container.slide(data-pause='false')
        .carousel-inner
            .active.item.one
            .item.two
            .item.three              
                
                
                