extends layout

block content
    #myContent
        div
            .grid
                .grid-item
                    .panel.panel-info
                        .panel-heading
                            panel-title Aktualna temperatura
                        .panel-body
                            .currentTemp
                .grid-item
                    .panel.panel-info
                        .panel-heading
                            panel-title Aktualna temperatura
                        .panel-body
                            .currentTemp
                .grid-item
                    .panel.panel-info
                        .panel-heading
                            panel-title Aktualna wilgotnosc
                        .panel-body
                            .currentTemp
                .grid-item
                    .panel.panel-info
                        .panel-heading
                            panel-title Aktualna wilgotnosc
                        .panel-body
                            .currentTemp
                .grid-item
                    .panel.panel-info
                        .panel-heading
                            panel-title Aktualna wilgotnosc
                        .panel-body
                            .currentTemp
            // .row
            //     .col-md-4.col-sm-6.col-xs-12#test
            //     .col-md-4.col-sm-6.col-xs-12#test2

            // .row
            //     .col-md-4.col-sm-6.col-xs-12#test
            //     .col-md-4.col-sm-6.col-xs-12#test2
            .row
                .col-md-4.col-sm-6.col-xs-12
                    a.btn.btn-info(data-toggle='collapse', data-target='#hubForm') Dodaj Hub
                    #hubForm.collapse
                        br
                        #addHub
                            fieldset
                                // //form(id="addHubForm")
                                //.form-group
                                label(for='hubid') Hub ID:
                                input.form-control#inputHubID(type='text', required)
                                //.form-group
                                label(for='desc') Opis:
                                input.form-control#inputDesc(type='text')
                                //.form-group
                                input.form-control#inputUserID(type='hidden', value=user.userID)
                                br
                                button.btn.btn-default#addHubButton Dodaj
                    //     -if(errorMessage1)
                    //         .alert.alert-danger !{errorMessage1}
                    
                   
                .col-md-4.col-sm-6.col-xs-12
                    .panel.panel-info
                        .panel-heading
                            h3.panel-title Witaj
                        .panel-body
                            | #{user.username}

                    #txt(style="display: none;")
                        | #{user.userID}

                    #wrapper
                        h2 Twoje Huby
                        #hubList.tableFormat
                            table
                                thead
                                    th Hub ID
                                    th Hub opis
                                tbody

                        h2 Twoje Sensory
                        #sensorList.tableFormat
                            table
                                thead
                                    th Sensor ID
                                    th Hub Id
                                    th Opis
                                    th Stan
                                tbody
                        h3 Aktualna temperatura
                        h2#p.currentTemp
            a(name='11')
                | Printing Support
            div(style='width: 50%')
            canvas#canvas(height='450', width='600')
                // .col-md-4.col-sm-6.col-xs-12
                //     include ./includes/hubs.jade
                //     br
                //     include ./includes/sensors.jade

