extends layout

block content
    #myContent
        #tabWrapper
            ul.nav.nav-tabs
                li.active
                    a(data-toggle='tab', href='#tabProfile') Home
                li
                    a(data-toggle='tab', href='#tabHubs') Hubs
                li
                    a(data-toggle='tab', href='#tabSens') Sensors
                li#tabLogout
                    a(href='/signout') Logout
        .tab-content
            #tabProfile.tab-pane.fade.in.active
                h3 Witaj userze
                include tabProfile.jade
            #tabHubs.tab-pane.fade
                h3 Hubs
                include tabHubs.jade
            #tabSens.tab-pane.fade
                h3 Sensors
                include tabSensors.jade
    