extends layout

block content
    #myContent
        #tabWrapper
            ul.nav.nav-tabs
                li.active
                    a(data-toggle='tab', href='#tabProfile') Profil
                li
                    a(data-toggle='tab', href='#tabHubs') Huby
                li
                    a(data-toggle='tab', href='#tabSens') Sensory
        .tab-content
            #tabProfile.tab-pane.fade.in.active
                h3 Witaj #{user.username}
                include tabProfile.jade
            #tabHubs.tab-pane.fade
                br
                include tabHubs.jade
            #tabSens.tab-pane.fade
                h3 Sensory
                include tabSensors.jade

        #txt(style="display: none;")
            | #{user.userID}
    script(src='/js/global.js')
    script(src='/js/editSensor.js')
    script(src='/js/editHub.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')
    script(src='/js/favouriteSensor.js')





