extends layout

block content
    #myContent
        #tabWrapper
            ul.nav.nav-tabs
                li.active
                    a(data-toggle='tab', href='#tabProfile') Home
                li
                    a(data-toggle='tab', href='#tabHubs') Hubs
                li
                    a(data-toggle='tab', href='#tabSens') Sensors
                li#tabLogout
                    a(href='/signout') Logout
        .tab-content
            #tabProfile.tab-pane.fade.in.active
                h3 Witaj userze
                include tabProfile.jade
            #tabHubs.tab-pane.fade
                h3 Hubs
                include tabHubs.jade
            #tabSens.tab-pane.fade
                h3 Sensors
                include tabSensors.jade
    
    
        // 
        // .grid#favGrid
        // .row
        //     .col-md-4.col-sm-6.col-xs-12
        //         a.btn.btn-info(data-toggle='collapse', data-target='#hubForm') Dodaj Hub
        //         #hubForm.collapse
        //             br
        //             #addHub
        //                 fieldset
        //                     // //form(id="addHubForm")
        //                     //.form-group
        //                     label(for='hubid') Hub ID:
        //                     input.form-control#inputHubID(type='text', required)
        //                     //.form-group
        //                     label(for='desc') Opis:
        //                     input.form-control#inputDesc(type='text')
        //                     //.form-group
        //                     input.form-control#inputUserID(type='hidden', value=user.userID)
        //                     br
        //                     button.btn.btn-default#addHubButton Dodaj
                //     -if(errorMessage1)
                //         .alert.alert-danger !{errorMessage1}
                //
                
        .col-md-4.col-sm-6.col-xs-12
            // .panel.panel-info
            //     .panel-heading
            //         h3.panel-title Witaj
            //     .panel-body
            //         | #{user.username}

            #txt(style="display: none;")
                | #{user.userID}

            
