extends layout

block content
    #myContent   
        div
            .row
                .col-md-4.col-sm-6.col-xs-12
                    //     -if(errorMessage1)
                    //         .alert.alert-danger !{errorMessage1}

                .col-md-4.col-sm-6.col-xs-12
                    .panel.panel-info
                        .panel-heading
                            h3.panel-title Witaj
                        .panel-body
                            | #{user.username}

                    #txt(style="display: none;")
                        | #{user.userID} 
                
                    #wrapper
                        h2 Twoje Huby
                        #hubList.tableFormat
                            table
                                thead
                                    th Hub ID
                                    th Hub opis     
                                tbody
                                
                        h2 Twoje Sensory
                        #sensorList.tableFormat
                            table
                                thead
                                    th Sensor ID
                                    th Hub Id  
                                    th Opis
                                    th Stan   
                                tbody
                        h3 Aktualna temperatura
                        h2#p.currentTemp 
                // .col-md-4.col-sm-6.col-xs-12
                //     include ./includes/hubs.jade
                //     br
                //     include ./includes/sensors.jade
                        
    