extends layout

block content
    #myContent
        .col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-user-plus
                |  Zarejestruj
            form(action='/signup', method='post')
                -if(errorMessage)
                    .alert.alert-danger !{errorMessage}
                .form-group
                label Login
                input.form-control(type='text', name='username', required)
                .form-group
                label Hasło
                input.form-control(type='password', name='password', required)
                br
                button.btn.btn-warning.btn-lg(type='submit') Zarejestruj
            hr
            p
            | Masz już konto? 
            a(href='/login') Zaloguj się
