#txt(style="display: none;")
    | #{user.userID}

#hubTab
    button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#hubModal') Dodaj HUB
    .row
        .col-md-12.col-sm-12.col-xs-12
            h2 Twoje Huby
            #hubsListTab
            script#hubListScript(type='text/x-handlebars-template').
                <div class="panel-group" id="hubListGroup">
                {{#each data}}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <div class="list-group-item">
                                    <a href="#hub{{hubID}}" data-parent="#hubListGroup" data-toggle="collapse" data-hubID="{{hubID}}" class="clickOK">
                                        {{ desc }}
                                    </a>
                                    <a role="button" href="#deleteHub" style="float:right;" class="deleteHub" data-hubID="{{hubID}}" class="clickOK">
                                        Usuń
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div id="hub{{hubID}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="editHub">
                                    <fieldset>
                                        <label> ID: {{hubID}} </label>
                                        <br>
                                        <label for="hubid">Opis:</label>
                                        <input type="text" class="form-control inpuDescEditHub" required="required"/><br/>
                                        <button class="btn btn-default editHubButton"> Zapisz </button>
                                        <button class="btn btn btn-primary addSensorButton" data-toggle='modal', data-target='#addSensorModal'></span> Dodaj sensor </button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            #hubModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h4#myModalLabel.modal-title Podaj ID i opis swojego HUBA
                        .modal-body
                            #addHub
                                fieldset
                                    label(for='hubid') Hub ID:
                                    input.form-control#inputHubID(type='text', required)
                                    label(for='desc') Opis:
                                    input.form-control#inputDesc(type='text')
                                    input.form-control#inputUserID(type='hidden', value=user.userID)
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Anuluj
                            button.btn.btn-primary#addHubButton(type='button') Zapisz
                            
            #addSensorModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addSensorLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h4#addSensorLabel.modal-title Podaj ID i opis sensora
                        .modal-body
                            #addSensor
                                fieldset
                                    br
                                    label(for='sensorid') Sensor ID:
                                    input.form-control#inputSensorIDNew(type='text', required)
                                    br
                                    label(for='address') Adres fizyczny:
                                    input.form-control#inputAddressNew(type='text', required)
                                    br
                                    label(for='desc') Opis:
                                    input.form-control#inputDescNew(type='text')
                                    input.form-control#inputHubIDNew(type='hidden', value=hub)
                                    br
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Anuluj
                            button.btn.btn-primary#addSensorButton(type='button') Zapisz


