#txt(style="display: none;")
    | #{user.userID}

#hubTab
    button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#hubModal') Dodaj HUB
    .row
        .col-md-12.col-sm-12.col-xs-12
            h2 Twoje Huby
            #hubsListTab
            script#hubListScript(type='text/x-handlebars-template').
                <div class="panel-group" id="hubListGroup">
                {{#each data}}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <div class="list-group-item">
                                    <a href="#hub{{sensorID}}" data-parent="#hubListGroup" data-toggle="collapse" data-hubID="{{hubID}}">
                                        {{ hubID }} {{ desc }}
                                    </a>
                                    <a role="button" href="#deleteHub" style="float:right;" class="deleteHub" data-hubID="{{hubID}}">
                                        Usuń
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div id="hub{{hubID}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="editHub">
                                    <fieldset>
                                        <label for="hubid">Opis:</label>
                                        <input type="text" class="form-control inpuDescEditHub" required="required"/><br/>
                                        <button class="btn btn-default editHubButton">Edytuj</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            #hubModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h4#myModalLabel.modal-title Podaj ID i opis swojego HUBA
                        .modal-body
                            #addHub
                                fieldset
                                    label(for='hubid') Hub ID:
                                    input.form-control#inputHubID(type='text', required)
                                    label(for='desc') Opis:
                                    input.form-control#inputDesc(type='text')
                                    input.form-control#inputUserID(type='hidden', value=user.userID)
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Anuluj
                            button.btn.btn-primary#addHubButton(type='button') Zapisz
            // a.btn.btn-info(data-toggle='collapse', data-target='#hubForm') Dodaj Hub
            // #hubForm.collapse
            //     br
            //     #addHub
            //         fieldset
            //             // //form(id="addHubForm")
            //             //.form-group
            //             label(for='hubid') Hub ID:
            //             input.form-control#inputHubID(type='text', required)
            //             //.form-group
            //             label(for='desc') Opis:
            //             input.form-control#inputDesc(type='text')
            //             //.form-group
            //             input.form-control#inputUserID(type='hidden', value=user.userID)
            //             br
            //             button.btn.btn-default#addHubButton Dodaj
script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')

