#tabSensor
    .row
        .col-md-12.col-sm-12.col-xs-12
            #sensorsListTab
            script#sensorListScript(type='text/x-handlebars-template').
                <div>
                    <h3 style="text-align: right;"> <a href="#h{{hubID}}"> {{hubID}} </a></h3>
                </div>
                <div class="panel-group sensorListGroup">
                {{#each data}}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <div class="list-group-item">
                                    <a href="#c{{sensorID}}" data-parent="#sensorListGroup" data-toggle="collapse" data-sensID="{{sensorID}}" class="sensLink">
                                        {{ sensorID }} {{ desc }}
                                    </a>
                                    <a role="button" href="#deleteSensor" style="float:right;" class="deleteSensor" data-sensID="{{sensorID}}" class="sensLink">
                                        Usuń
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div id="c{{sensorID}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="editSensor">
                                    <fieldset>
                                        <input type="checkbox" name="favSensor" class="favCheckBox"/>Ulubiony
                                        <input type="checkbox" name="stateSensor" class="stateCheckBox"/>Włączony<br/>
                                        <label for="hubid">Opis:</label>
                                        <input type="text" required="required" class="form-control inpuDescEditSens"/>
                                        <input type="hidden" class="form-control inputUserID"/><br/>
                                        <button class="btn btn-default editSensorButton">Edytuj</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
    #txt(style="display: none;")
        | #{user.userID}


