#tabSensor
    .row
        .col-md-8.col-sm-6.col-xs-12
            #sensorsListTab
            script#header(type='text/x-handlebars-template').
                <div class="panel-group" id="sensorListGroup">
                {{#each data}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#c{{sensorID}}" class="list-group-item" data-parent="sensorListGroup" data-toggle="collapse" data-sensID="{{sensorID}}">{{ sensorID }} {{ desc }}</a>
                            </h4>
                        </div>
                        <div id="c{{sensorID}}" class="panel-collapse collapse">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            h2 Twoje Sensory
            #sensorList.tableFormat
                table
                    thead
                        th Sensor ID
                        th Hub Id
                        th Opis
                        th Stan
                        th Ulubiony
                    tbody
        .col-md-4.col-sm-6.col-xs-12
            #editSensorTab
                include editSensor.jade
    #txt(style="display: none;")
        | #{user.userID}
//<li class="list-group-item" data-sensID="{{sensorID}}">  
//     {{ sensorID }} {{ desc }}
// </li>​
