body {
  /*padding: 10px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#favourite-item{
    width: 32%;
    display: inline-block;
    margin: 5px 0.4%;
}
@media (max-width: 768px) {
    #favourite-item{
        width: 48%;
        margin: 5px 0.5%;
    }
}
@media (max-width: 480px) {
    #favourite-item{
        width: 45%;
        margin: 5px;
    }
}

#favouriteListTab{
    justify-content: center;
}


a:hover {
  /*color: lawngreen;*/
  text-decoration: none; /* no underline */
}
.currentTemp {
    font-size: 28px;
    font-weight:600;
    text-align: center;
    padding-bottom: 10px;
}
.grid-item--width2 { width: 200px; height: 150px;}


/*.panel.panel-info {
    height: 150px;
}*/

.tableFormat {
	margin:0 0 30px 0;
}
.tableFormat table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}
.tableFormat table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}
.tableFormat table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
.tableFormat table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}


#myBigLogo img {
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
}
#myBigLogo img:hover {
      transform: translateY(10px);
      filter: grayscale(60%);
      -webkit-filter: grayscale(30%);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
}


#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}
/*
fieldset {
	border:0;
	padding:0; margin:0;
}
*/