body {
  /*padding: 10px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/*
.grid-item { 
    width: 100px; 
    height: 150px;
    padding-left: 10px; 
    padding-right: 10px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);

}
*/
.grid {

  margin: auto;
  background: #EEE;
  padding: 10px;
  padding-bottom: 10px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item { 
    /*text-decoration: none;*/
    width: 150px; 
    height: 150px;
    margin-bottom: 10px;

}
a:hover {
  /*color: lawngreen;*/
  text-decoration: none; /* no underline */
}
.currentTemp {
    font-size: 28px;
    font-weight:600;
    text-align: center;
    padding-bottom: 10px;
}
.grid-item--width2 { width: 200px; height: 150px;}


.panel.panel-info {
    height: 150px;

}

#test {
    background-color:yellow;
    height: 100px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

#test2 {
    background-color: red;
    height: 150px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.tableFormat {
	margin:0 0 30px 0;
}
.tableFormat table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}
.tableFormat table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}
.tableFormat table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
.tableFormat table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}